.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 100% !important;
  }
}

.resultados {
  margin-top: 50px;
}

.search {
  margin-top: 30px;
  max-width: 400px;
}

.thumbnail {
  float: left;
}

.video1 {
  margin-top: 40px;
}

.video-description {
  font-size: 11px
}