@media (min-width: 1200px){
  .container {
    max-width: 100% !important;
  }
}

.content {
  margin-top: 1rem;
}

.header {
  padding: 1.5rem 0 1.5rem 0;
}

.search {
  max-width: 400px;
}

.thumbnail {
  float: left;
}

.video1 {
  margin-top: 40px;
}

.video-description {
  font-size: 11px
}